<h3>Welcome to Duberex!</h3>
<form action="/submit" method="POST">
	<input type="text" name="model[pin_code]" value="Enter Pin Code" />
	<input type="text" name="model[amount]" value="Enter amount" />
	<input type="submit" value="Submit" />
</form>
